/* Import Google font- Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400,500,600,700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Ssans', sans-serif;  
}

body {
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

h1 {
  color: aqua;
  padding: 18px 0;
  text-align: center;
  font-size: 1.75rem;
  font-style: oblique;
  background: #184cad;
}

.container {
  display: flex;
  gap: 60px;
  padding: 30px;
  min-height: 100vh;
}

.weather-input {
  width: 30%;
}

.weather-input input {
  width: 100%;
  height: 40px;
  outline: none;
  /* padding: 0 16px; */
  /* margin: 10px 0 18px 0; */
  font-size: 1.07rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

.weather-input .separator {
  height: 1px;
  width: 100%;
  margin: 25px 0;
  background: #bbb;
  display: flex;
  align-items: center;
  justify-content: center;
}

.weather-input .separator::before {
  content: "or";
  color: blueviolet;
  font-size: 1.2rem;
  padding: 0 15px;
  margin-top: -4px;
  background: #dfdada;
  
}

.weather-input select {
  border: none;
  padding-top: 2%;
  padding-bottom: 2%;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

/* 
.weather-input .separator {
  height: 1px;
  width: 100%;
  margin: 25px 0;
  background: #bbb;
  display: flex;
  align-items: center;
  justify-content: center;
} 

.weather-input .separator::before{
  content: "Select the Country Name";
  color: lightslategrey;
  font-size: 1.2rem;
  padding: 0 15px;
  margin-top: -4px;
  background: #abd1f8;
} */

.weather-input button {
  width: 100%;
  padding: 10px 0;
  cursor: pointer;
  outline: #131212;
  border: #131212;
  color: #fff;
  font-size: 1rem;
  border-radius: 4px;
  background: #4d7fdc;
}

.weather-input .location-txt {
  background: #104367;
  color: white;
  text-align: center;
  padding: 10px;
  margin-bottom: 5px;
}

.weather-input h3 {
  color: black;
  background: white;
  padding: 2%;
}

.weather-data {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.current-weather {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 35%;
  border-radius: 50%;
  color: #111111;
  background: #dfdada;
}

.details {
  text-align: left;
}

.details .h2 {
  font-size: 2rem;
}

.details h4 {
  margin-top: 12px;
  font-size: 1rem;
  font-weight: 500;
}

.icons img {
  width: 100px;
  height: 100px;
}

.current-weather .icon h4 {
  margin-top: -10px;
  text-transform: capitalize;
}

.days-forecast {
  height: 100%;
  width: 100%;
}

.days-forecast h2{
  font-size: 1.5rem;
  margin: 20px 0;
}

.weather-cards {
  display: flex;
  gap: 20px;
}

.weather-cards .card {
  list-style: none;
  color: #fff;
  padding: 18px 16px;
  border-radius: 5px;
  background: #245281;
  width: calc(100%/ 5);
}

.weather-cards .card img {
  max-width: 80px;
}
.warnings-data h2 {
  font-size: 30px;
  background: red;
  color: white;
  margin: 20px 0px;
  text-align: center;
  padding: 5px;
}

.warnings-data h4 {
  font-size: 20px;
  text-align: center;
  color: red;
  padding-bottom: 2px;
}

.warnings-data h5 {
  padding: 1px;
}

.warnings-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  background: #dfdada;
  padding: 10px;
  border: 1px solid #ccc;
  width: 80%;
  margin: 5px;
}

.warnings-cards .icons img{
  height: 70px;
  width: 70px;
}
.warnings h1 {
  background: yellow;
  color: black;
}
